/softwareprojekt2/.idea/
/softwareprojekt2/target/
software-project-2.iml
*.aux
*.log
*.pdf
*.gz
*.toc
*workspace.xml
*usage.statistics.xml
*tasks.xml
*.idea/modules.xml
*.idea/libraries/*
*logs/log.out